

<%- include('header' ) %>

<% if(typeof alert != 'undefined') { %>
    <% alert.forEach(function(error) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    <% }) %>
<% } %>

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad page-details">
      <div class="container">
      
          <div class="row">
              <div class="col-lg-9">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="product-pic-zoom">
                              <img class="product-big-img" src="<%= prorecord.productImg %>"  height="500">
                              <div class="zoom-icon">
                                  <i class="fa fa-search-plus"></i>
                              </div>
                          </div>
                          <div class="product-thumbs">
                              <div class="product-thumbs-track ps-slider owl-carousel">

                                <% prorecord.productImages.map((v,i)=>{ %>
                                    <div class="pt active" data-imgbigurl="<%= v %>">
                                        <img src="<%= v %>" alt="" height="150px" width="130px">    
                                    </div>
                                <% }); %>
                                          
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="product-details">
                              <div class="pd-title">
                                  
                                  <h3><%= prorecord.productName %></h3>
                                  <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                              </div>
                              <div class="pd-rating">
                                <% for(var i=0; i<prorecord.rating; i++){ %>
                                  <i class="fa fa-star"></i>
                                <% } %>
                                  
                                <% for(var i=prorecord.rating; i<5; i++){ %>
                                  <i class="fa fa-star-o"></i>
                                <% } %>
                                  <span>(5)</span>
                              </div>
                              <div class="pd-desc">
                                  <p class="product"><%= prorecord.desc %></p>
                                  <h4>₹ <%= prorecord.productPrice %> <span>₹ <%= prorecord.productOldPrice %></span></h4>
                              </div>
                          
                              <div class="pd-size-choose">
                                  <div class="sc-item">
                                      <input type="radio" id="sm-size">
                                      <label for="sm-size">s</label> 
                                  </div>
                                  <div class="sc-item">
                                      <input type="radio" id="md-size">
                                      <label for="md-size">m</label>
                                  </div>
                                  <div class="sc-item">
                                      <input type="radio" id="lg-size">
                                      <label for="lg-size">l</label>
                                  </div>
                                  <div class="sc-item">
                                      <input type="radio" id="xl-size">
                                      <label for="xl-size">xs</label>
                                  </div>
                              </div>
                              <div class="quantity">

                                 <form action="/user/addtocart" method="post">
                                    <% if(locals.user){ %>
                                        <input type="hidden" name="userId" value="<%= locals.user.id %>">
                                    <% } %>
                                    <input type="hidden" name="productId" value="<%= prorecord.id %>">
                                    <input type="hidden" name="quantity" value="1">
                                    <button class="primary-btn pd-cart">Add To Cart</button>

                                 </form>

                              </div>
                              <ul class="pd-tags">
                                  <li><span>CATEGORIES</span>: <%= prorecord.categoryId['categoryName'] %></li>
                                  <li><span>Brand</span>: <%= prorecord.brandId['brandname'] %></li>
                              </ul>
                              <div class="pd-share">
                                  <div class="p-code">Sku : 00012</div>
                                  <div class="pd-social">
                                      <a href="#"><i class="ti-facebook"></i></a>
                                      <a href="#"><i class="ti-twitter-alt"></i></a>
                                      <a href="#"><i class="ti-linkedin"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="product-tab">
                      <div class="tab-item">
                          <ul class="nav" role="tablist">
                              <li>
                                  <a class="active" data-toggle="tab" href="#tab-1" role="tab">DESCRIPTION</a>
                              </li>
                              <li>
                                  <a data-toggle="tab" href="#tab-2" role="tab">SPECIFICATIONS</a>
                              </li>
                              <li>
                                  <a data-toggle="tab" href="#tab-3" role="tab">Customer Reviews (<%= commentcount %>)</a>
                              </li>
                          </ul>
                      </div>
                      <div class="tab-item-content">
                          <div class="tab-content">
                              <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                  <div class="product-content">
                                      <div class="row">
                                          <div class="col-lg-7">               
                                                <p><%= prorecord.desc %></p>
                                          </div>
                                          <div class="col-lg-5">
                                              <img src="<%= prorecord.categoryId.categoryImage %>" alt="" height="400px" width="100%">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                  <div class="specification-table">
                                      <table>
                                          <tr>
                                              <td class="p-catagory">Customer Rating</td>
                                              <td>
                                                  <div class="pd-rating">
                                                    <% for(var i=0; i<prorecord.rating; i++){ %>
                                                      <i class="fa fa-star"></i>
                                                    <% } %>
                                                    <% for(var i=prorecord.rating; i<5; i++){ %> 
                                                      <i class="fa fa-star-o"></i>
                                                    <% } %>
                                                      <span>(5)</span>
                                                  </div>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td class="p-catagory">Price</td>
                                              <td>
                                                  <div class="p-price">₹ <%= prorecord.productPrice %></div>
                                              </td>
                                          </tr>
                                          <tr>

                                              <td class="p-catagory">Add To Cart</td>
                                              <td>
                                                  <div class="cart-add">

                                                    <form action="/user/addtocart" method="post">
                                                        <% if(locals.user){ %>
                                                            <input type="hidden" name="userId" value="<%= locals.user.id %>">
                                                        <% } %>
                                                        <input type="hidden" name="productId" value="<%= prorecord.id %>">
                                                        <input type="hidden" name="quantity" value="1">
                                                        <button class="primary-btn pd-cart">+ add to cart</button>
                    
                                                     </form>
                                                     
                                                   </div>
                                              </td>
                                          </tr>
                                          
                                          <tr>
                                              <td class="p-catagory">Availability</td>
                                              <td>
                                                  <div class="p-stock">22 in stock</div>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td class="p-catagory">Weight</td>
                                              <td>
                                                  <div class="p-weight">1,3kg</div>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td class="p-catagory">Size</td>
                                              <td>
                                                  <div class="p-size">Xxl</div>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td class="p-catagory">Color</td>
                                              <td><span class="cs-color"></span></td>
                                          </tr>
                                          <tr>
                                              <td class="p-catagory">Sku</td>
                                              <td>
                                                  <div class="p-code">00012</div>
                                              </td>
                                          </tr>
                                      </table>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                  <div class="customer-review-option">
                                      <h4><%= commentcount %> Comments</h4>
                                      <div class="comment-option">

                                        <% for(var com of commentrecord){ %>
                                          <div class="co-item">
                                              <div class="avatar-pic">
                                                  <img src="<%= com.commentimg %>" alt="">
                                              </div>
                                              <div class="avatar-text">
                                            
                                                  <h5><%= com.name %> <span><%= com.date %></span></h5>
                                                  <div class="at-reply"><%= com.message %></div>
                                              </div>
                                          </div>
                                        <% } %>

                                      </div>
                                      <div class="personal-rating">
                                          <h6>Your Ratind</h6>
                                          <div class="rating">

                                            <% for(var i=0; i<prorecord.rating; i++){ %>
                                              <i class="fa fa-star"></i>
                                            <% } %>
                                          
                                            <% for(var i=prorecord.rating; i<5; i++){ %>
                                              <i class="fa fa-star-o"></i>
                                            <% } %>
                                          </div>
                                      </div>
                                      <div class="leave-comment">
                                          <h4>Leave A Comment</h4>

                                          <form action="/user/comment" method="post" class="comment-form" enctype="multipart/form-data">
                                            <input type="hidden" name="productId" value="<%= prorecord.id %>">
                                              <div class="row">
                                                  <div class="col-lg-6">
                                                      <input type="text" placeholder="Name" name="name">
                                                  </div>
                                                  <div class="col-lg-6">
                                                      <input type="email" placeholder="Email" name="email">
                                                  </div>
                                                  <div class="col-lg-6">
                                                    <input type="file" name="commentimg">
                                                  </div>
                                                  
                                                  <div class="col-lg-12">
                                                      <textarea placeholder="Messages" name="message"></textarea>
                                                      <button type="submit" class="site-btn">Send message</button>
                                                  </div>
                                              </div>
                                          </form>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      
      </div>
  </section>
  <!-- Product Shop Section End -->

  <!-- Related Products Section End -->
  <div class="related-products spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="section-title">
                      <h2>Related Products</h2>
                  </div>
              </div>
          </div>
          <div class="row">
            <% for(var prod of productrecord){ %>
              <div class="col-lg-3 col-sm-6">
                  <div class="product-item">
                      <div class="pi-pic">
                          <img src="<%= prod.productImg %>" height="250"> 
                          <div class="sale">Sale</div>
                          <div class="icon">
                              <i class="icon_heart_alt"></i>
                          </div>
                          <ul>
                              <li class="w-icon active">
                                <form action="/user/addtocart" method="post">
                                    <% if(locals.user){ %>
                                        <input type="hidden" name="userId" value="<%= locals.user.id %>">
                                    <% } %>
                                    <input type="hidden" name="productId" value="<%= prod.id %>">
                                    <input type="hidden" name="quantity" value="1">
                                    <button class="primary-btn"><i class="icon_bag_alt"></i></button>
                                 </form>
                              </li>
                              <li class="quick-view"><a href="/user/productview/<%= prod.id %>">+ Quick View</a></li>
                              <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                          </ul>
                      </div>
                      <div class="pi-text">
                         
                          <a href="#">
                              <h5><%= prod.productName %></h5>
                          </a>
                          <div class="product-price">
                              <%= prod.productPrice %>
                              <span><%= prod.productOldPrice %></span>
                          </div>
                      </div>
                  </div>
              </div>
            <% } %>

          </div>
      </div>
  </div>
  <!-- Related Products Section End -->


<%- include('footer') %>